# Web framework
fastapi
uvicorn[standard]

# Environment variables
python-dotenv

# Database Postgres on Railway
psycopg2-binary

# ML & data handling
joblib
scikit-learn
numpy
pandas

# Data validation used by FastAPI
pydantic

# ORM
SQLAlchemy